<footer class="main-footer-container">
  <div class="main-footer-left">
      <img class="main-footer-logoimg" src="/static/image/logo-v2.png" alt="">
      
      <div class="main-footer-groupD">CodingOn X POSCO KDT3rd - Group D</div>
  </div>

  <div class="main-footer-right">
      <div class="main-footer-right-icon">
          <i class="fab fa-instagram fa-2x"></i>
          <i class="fab fa-twitter-square fa-2x"></i>
          <i class="fab fa-facebook-square fa-2x"></i>
      </div>
      <div class="main-footer-copy">&copy;2022. All Rights Reserved</div>
  </div>
</footer>