<header class="top-nav">
  <input type="checkbox" id="nav-check">
  <!-- logo -->
  <h1 class="h1-logo"><a href="/home"><img src="/static/image/logo-v2.png" alt="logo"></a>
  </h1>
  <!-- mobile ver - navbar -->
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
    </label>
  </div>
  <!-- web ver - nav : 영화 장르별 탭 -->
  <nav class="nav">
    <ul class="nav-box">
      <li><a href="/action" title="action">Action</a></li>
      <li><a href="/romance" title="romance">Romance</a></li>
      <li><a href="/comedy" title="comedy">Comedy</a></li>
      <li><a href="/sf" title="sf">SF</a></li>
      <!-- user : mypage -->
      <li><a href="/mypage" title="mypage" class="user-icon"><i class="fas fa-user"></i></a></li>
      <!-- mobile ver : mypage -->
      <li>
        <a href="/mypage" title="mypage" class="user-icon-mob">mypage</a>
      </li>
    </ul>
  </nav>
</header>