<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
    <!-- css: reset -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <!-- css: header / jy -->
    <link rel="stylesheet" href="/static/css/header.css">
    <!-- css: layout /jy -->
    <link rel="stylesheet" href="/static/css/layout.css">
    <!-- css : footer -->
    <link rel="stylesheet" href="/static/css/footer.css">
    <!-- font : noto sans, moserrat, roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <!-- xelcon -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 제이쿼리 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- 헤더변경js / jy-->
    <script defer src="/static/js/main.js"></script>
    <!-- 장르별 추천 영화 : 영상 자동재생 js / jy -->
    <script defer src="/static/js/mainMovie.js"></script>
    <!-- 메인 게시판 작성 기능 / jy -->
    <script defer src="/static/js/mainList.js"></script>
</head>
<body>
    <!-- 헤더 삽입 -->
    <%-include('header.ejs') %>
      <!-- 원형 내비게이션 -->
    <nav id="m_nav">
    <ul>
      <li><span class="num"><i class="xi-movie-o"></i></span><a href="#genre" title="장르별 추천 영화" class="arctic_scroll">movie</a></li>
      <li><span class="num"><i class="xi-help-o"></i></span><a href="#qna" title="Q&A" class="arctic_scroll">Q&A</a></li>
    </ul>
  </nav>
    <!-- 메인콘텐츠 -->
    <main>
        <section class="content-box">
            <h2>매인콘텐츠 : 메인 추천 영화와 장르별 추천 영화</h2>
            <!-- 메인 추천 영화 : auto play -->
            <article class="content-movie-play">
                <video muted autoplay loop>
                    <source src="/static/video/main.mp4" type="video/mp4">
                  </video>
                <div class="movie-play-info">
                <h3>오늘의 추천 영화</h3>
                <p>분노의 질주 : 더 세븐 (Fast & Furious 7)</p>
                <!-- modal open -->
                <button class="movie-info-detail bnt_open">영화 상세 정보</button>
            </div>
            </article>
            <!-- 장르별 추천 영화 -->
            <article class="content-movie-genre" id="genre">
                <h3><i class="fas fa-video"></i>&nbsp;지금 D.NEMA에서 추천하는 영화를 살펴보세요!</h3>
                <ul>
                    <li class="best-movies bnt_open">
                        <div class="genre-img">
                            <video muted autoplay loop>
                                <source src="/static/video/random_action0.mp4" type="video/mp4">
                              </video>
                        </div>
                    <p class="genre-title">action</p>
                    <div class="bar"></div>
                    <div class="info action-info">
                        #드웨인존슨 X #제이슨스타뎀<br>
                        올 여름, 최고의 액션 빅 매치<br>
                        [#분노의질주_홉스앤쇼] 8월 14일 대개봉
                    </div>
                </li>
                    <li class="best-movies bnt_open">
                        <div class="genre-img">
                            <video muted autoplay loop>
                                <source src="/static/video/random_romance11.mp4" type="video/mp4">
                              </video>
                        </div>
                    <p class="genre-title">romance</p>
                    <div class="bar"></div>
                    <div class="info romance-info">
                        #도널 글리슨 X #레이첼 맥아담스<br>
                        러브액츄얼리, 노팅힐 제작<br>
                        리차드 커티스 감독 [#어바웃타임]
                    </div>
                </li>
                    <li class="best-movies bnt_open">
                        <div class="genre-img">
                            <video muted autoplay loop>
                                <source src="/static/video/random_comedy5.mp4" type="video/mp4">
                              </video>
                        </div>
                    <p class="genre-title">comedy</p>
                    <div class="bar"></div>
                    <div class="info comedy-info">
                        류승룡, 이하늬, 진선규, 이동휘, 공명 출연<br>
                        2019년 상반기 개봉<br>
                        총 누적 관개수 역대 2위 !
                    </div>
                </li>
                    <li class="best-movies bnt_open">
                        <div class="genre-img">
                            <video muted autoplay loop>
                                <source src="/static/video/random_SF1.mp4" type="video/mp4">
                              </video>
                        </div>
                    <p class="genre-title">sf</p>
                    <div class="bar"></div>
                    <div class="info sf-info">
                        #듄 #드니빌뇌브 #티모시샬라메<br>
                        이번 생에 경험하지 못할<br>
                        단 하나의 SF 블록버스터 탄생
                        
                    </div>
                </li>
                </ul>
            </article>

             <!-- QnA -->
             <article id="qna" class="content-review">
                <h3>Q&A</h3>
                    
                <!-- 게시글 작성 공통 btn -->
                <div class="review-input">
                  <!-- 게시글 입력 폼 -->
                 <form id="list-form">
                    <input type="text" name="list" placeholder="D:NEMA에 궁금한점을 남겨주세요!">
                    <button type="submit" class="plus-btn"><i class="xi-plus-min"></i></button>
                    </form>
                </div>
                <div class="review">
                    <button type="button" class="clear-all-btn">clear all</button>
                    <ul class="review-list">
                    <!-- js:form 입력값을 li 내용으로 추가하는 동작 생성 -->
                    <li id="down">Q. 내가 찜한 영화 목록은 어디에서 볼 수 있나요?
                        <span class="right-down-btn"><i class="xi-angle-down i01"></i>
                        <div class="none-text n01">
                            상단의 사람 아이콘(mypage)을 클릭하면 내 회원 정보로 이동하여, 확인 가능합니다!
                        </div>
                    </span>
                    </li>
                    <li id="down02">Q. 영화외의 드라마 같은 콘텐츠도 추천 받을 수 있나요?
                        <span class="right-down-btn"><i class="xi-angle-down i02"></i>
                        <div class="none-text n02">
                            영화 외의 컨텐츠는 아직 준비중입니다.
                        </div>
                    </span>
                    </li>
                    <li id="down03">Q. 영화 장르마다 얻을 수 있는 정보가 무엇인가요?
                        <span class="right-down-btn"><i class="xi-angle-down i03"></i>
                        <div class="none-text n03">
                            랜덤 영화 플레이와 영화의 상세 정보를 모두 보실 수 있습니다!
                        </div>
                    </span>
                    </li>
                    <!-- 쓰레기통 폰트어썸 : <i class="fas fa-trash"></i> -->
                    </ul>
                </div>
            </article>
        </section>
    </main>

    <!--footer-->
     <%-include('footer.ejs') %>
   
        <!-- 영화 상세 정보 btn : modal -->
        <div class="modal-bg">
            <div class="modal-exit bnt_close"></div>
            <div class="modal-box">
              <!-- modal close btn -->
              <button class="modal-close-btn bnt_close"><i class="xi-close"></i></button>
              <div class="modal-cont">
                <div class="modal-img">
                  <video class="modal-vd" muted autoplay loop>
                    <source src="" type="video/mp4">
                  </video>
                  <button id="modal-like" class="modal-like-btn"><i class="fas fa-heart"></i></button>
                </div>
                <h3 class="modal-title"></h3>
                <div class="cont-info">
                  <!-- 영화 내용 -->
                  <p class="modal-story"></p>
                  <!-- 출연진 및 감독 -->
                  <p>
                    <strong>감독</strong>&nbsp;&nbsp;<span class="director"></span>
                    <br>
                    <strong>배우</strong>&nbsp;&nbsp;<span class="cast"></span>
                  </p>
                </div>
                <!-- 출연진 이미지 flex 배치 -->
                <div class="cont-ex-list">
                  <h3 class="cont-ex-title">출연진</h3>
                  <ul class="cont-ex-flex">
                    <li>
                      <div class="flex-img">
                        <img class="actor-image" src="" alt="배우">
                      </div>
                      <span class="actor"></span>
                    </li>
                    <li>
                      <div class="flex-img">
                        <img class="actor-image" src="" alt="배우">
                      </div>
                      <span class="actor"></span>
                    </li>
                    <li>
                      <div class="flex-img">
                        <img class="actor-image" src="" alt="배우">
                      </div>
                      <span class="actor"></span>
                    </li>
                    <li>
                      <div class="flex-img">
                        <img class="actor-image" src="" alt="배우">
                      </div>
                      <span class="actor"></span>
                    </li>
                  </ul>
                  <ul class="cont-ex-flex">
                    <li>
                      <div class="flex-img">
                        <img class="actor-image" src="" alt="배우">
                      </div>
                      <span class="actor"></span>
                    </li>
                    <li>
                      <div class="flex-img">
                        <img class="actor-image" src="" alt="배우">
                      </div>
                      <span class="actor"></span>
                    </li>
                    <li>
                      <div class="flex-img">
                        <img class="actor-image" src="" alt="배우">
                      </div>
                      <span class="actor"></span>
                    </li>
                    <li>
                      <div class="flex-img">
                        <img class="actor-image" src="" alt="배우">
                      </div>
                      <span class="actor"></span>
                    </li>
                  </ul>
                </div>
                <div class="modal-to-review">
                  <div class="review-btn-box">
                    <a href="/list" class="plus-btn review-btn"><i class="xi-pen"></i>리뷰 작성 하기</a>
                  </div>
                  <!-- 리뷰 일부 보여주도록? -->
                  <ul class="review-part-view">
                    <li><span class="Rs star">
                        ★★★★★
                        <span>★★★★★</span>
                        <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
                      </span>
                      <span class="star-info reviews">
  
                      </span>
                    </li>
                    <li><span class="Rs star2">
                        ★★★★★
                        <span>★★★★★</span>
                        <input type="range" oninput="drawStar2(this)" value="1" step="1" min="0" max="10">
                      </span>
                      <span class="star-info reviews">
  
                      </span>
                    </li>
                    <li><span class="Rs star3">
                        ★★★★★
                        <span>★★★★★</span>
                        <input type="range" oninput="drawStar3(this)" value="1" step="1" min="0" max="10">
                      </span>
                      <span class="star-info reviews">
  
                      </span>
                    </li>
                    <li><span class="Rs star4">
                        ★★★★★
                        <span>★★★★★</span>
                        <input type="range" oninput="drawStar4(this)" value="1" step="1" min="0" max="10">
                      </span>
                      <span class="star-info reviews">
  
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
            
            </div>
        </div>
    <script src="/static/js/jquery.arctic_scroll.js"></script>
</body>
</html>