
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
    <!-- css: reset -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <!-- css: intro / jy -->
    <link rel="stylesheet" href="/static/css/intro.css">
    <!-- font : noto sans, moserrat, roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <!-- xelcon -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 제이쿼리 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
      // 브라우저 미리보기를 실행하면, n초 뒤에 startpage라는 함수를 실행함 
      window.onload=function(){
          setTimeout('startPage()',3000);
      }
      function startPage(){
          document.location.href="/";
      }
  </script>
  </head>
<body>
  <section>
    <h2>인트로 화면</h2>
  <img src="/static/image/logo-v2.png" alt="">
</section>
  </body>
  </html>
