<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
    <!-- css: reset -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <!-- css: layout -->
    <!-- <link rel="stylesheet" href="/static/css/layout.css"> -->
    <!-- font : noto sans, moserrat, roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <!-- xelcon -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 제이쿼리 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- 메인js -->
    <script defer src="/static/js/main.js"></script>

    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
  <!--login container-->
  <form class="login-container">

      <!--D.NEMA logo image-->
      <img class="login-logo-image" src="/static/image/logo-v2.png" alt="D.NEMA logo">
  
      <!--login title(logo image 바로 아래)-->
      <h1 class="login-title">LOGIN</h1>
  
      <!--input: email, pw-->
      <input class="login-input-email" type="email" id="email" placeholder="EMAIL" required>
      <input class="login-input-pw" type="password" id="password" placeholder="PASSWORD" required>
      <!--pw 8글자 미만 경고메세지-->
      <div class="login-pw-warning login-input-pw-warning"></div>
      
      <!--checkbox-->
      <label class="login-checkbox">
        <input type="checkbox">Remember Me
      </label>

      <!--login btn-->
      <button class="login-button" type="submit">LOGIN</button>
      

    <!--social login container-->
    <div class="social-login-container">

      <!--google: 클릭시 구글 홈페이지로 넘어감-->
      <a href="https://www.google.co.kr/" target="_blank" class="login-social-google">
        <img class="login-social-google-img" src="/static/image/loginlogo/g-logo.png" alt="">
      </a>

      <!--naver: 클릭시 네이버 홈페이지로 넘어감-->
      <a href="https://www.naver.com/" target="_blank">
        <img class="login-social-naver" src="/static/image/loginlogo/btnW_icon_square.png" alt="">
      </a>

      <!--kakaotalk: 클릭시 카카오톡 홈페이지로 넘어감-->
      <a href="https://www.kakaocorp.com/page/" target="_blank" class="login-social-kakao">
      <i class="fas fa-comment fa-lg"></i>
      </a>

    </div>

  </form>

<script src="/static/js/login.js"></script>
</body>
</html>

