<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SF</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="/static/image/favicon.ico" type="image/x-icon">
  <!-- css: reset -->
  <link rel="stylesheet" href="/static/css/reset.css">
  <!-- css: header -->
  <link rel="stylesheet" href="/static/css/header.css">
  <!-- css: sub -->
  <link rel="stylesheet" href="/static/css/sub.css">
  <link rel="stylesheet" href="/static/css/sf.css">
  <!-- css : footer -->
  <link rel="stylesheet" href="/static/css/footer.css">
  <!-- css: scroll -->
  <link rel="stylesheet" href="static/css/scroll.css">
  <!-- font : noto sans, moserrat, roboto -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- xelcon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <!-- CDN -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
  <!-- 헤더 삽입 -->
  <%-include('header.ejs') %>

  <section>
    <main>
      <div class="random">
        <div class="title-move">
          <h2 class="hidden">SF random recommond</h2>
          <p>
            <!-- <span>D.nema의 추천, SF</span><br> -->
            <span>SF</span><br>
            &nbsp;D.NEMA가 추천하는 SF 영화!
          </p>
          <button class="random-button"><i class="xi-shuffle"></i> 랜덤플레이</button>
          <div class="video">
            <video class="random-video" autoplay loop muted></video>
            <div class="description">
              <div class="ott">
                <span class="age-color none"></span>
                <img class="netflix none" src="/static/image/netflix.png"></img>
                <img class="watcha none" src="/static/image/watcha.png"></img>
                <img class="tving none" src="/static/image/tving.png"></img>
                <img class="disney none" src="/static/image/disney.png"></img>
                <img class="wavve none" src="/static/image/wavve.png"></img>
              </div>
              <span class="title"></span>
              <span class="decs"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- modal box -->
      <div class="modal-bg">
        <div class="modal-exit bnt_close"></div>
        <div class="modal-box">
          <!-- modal close btn -->
          <button class="modal-close-btn bnt_close"><i class="xi-close"></i></button>
          <div class="modal-cont">
            <div class="modal-img">
              <video class="modal-vd" muted autoplay loop>
                <source src="" type="video/mp4">
              </video>
              <!-- 영화 좋아요 btn -->
              <button id="modal-like" class="modal-like-btn"><i class="fas fa-heart"></i></button>
            </div>
            <h3 class="modal-title"></h3>
            <div class="cont-info">
              <!-- 영화 내용 -->
              <p class="modal-story"></p>
              <!-- 출연진 및 감독 -->
              <p>
                <strong>감독</strong>&nbsp;&nbsp;<span class="director"></span>
                <br>
                <strong>배우</strong>&nbsp;&nbsp;<span class="cast"></span>
              </p>
            </div>
            <!-- 출연진 이미지 flex 배치 -->
            <div class="cont-ex-list">
              <h3 class="cont-ex-title">출연진</h3>
              <ul class="cont-ex-flex">
                <li>
                  <div class="flex-img">
                    <img class="actor-image" src="" alt="배우">
                  </div>
                  <span class="actor"></span>
                </li>
                <li>
                  <div class="flex-img">
                    <img class="actor-image" src="" alt="배우">
                  </div>
                  <span class="actor"></span>
                </li>
                <li>
                  <div class="flex-img">
                    <img class="actor-image" src="" alt="배우">
                  </div>
                  <span class="actor"></span>
                </li>
                <li>
                  <div class="flex-img">
                    <img class="actor-image" src="" alt="배우">
                  </div>
                  <span class="actor"></span>
                </li>
              </ul>
              <ul class="cont-ex-flex">
                <li>
                  <div class="flex-img">
                    <img class="actor-image" src="" alt="배우">
                  </div>
                  <span class="actor"></span>
                </li>
                <li>
                  <div class="flex-img">
                    <img class="actor-image" src="" alt="배우">
                  </div>
                  <span class="actor"></span>
                </li>
                <li>
                  <div class="flex-img">
                    <img class="actor-image" src="" alt="배우">
                  </div>
                  <span class="actor"></span>
                </li>
                <li>
                  <div class="flex-img">
                    <img class="actor-image" src="" alt="배우">
                  </div>
                  <span class="actor"></span>
                </li>
              </ul>
            </div>
            <div class="modal-to-review">
              <div class="review-btn-box">
                <a href="/list" class="plus-btn review-btn"><i class="xi-pen"></i>리뷰 작성 하기</a>
              </div>
              <!-- 리뷰 일부 보여주도록? -->
              <ul class="review-part-view">
                <li><span class="Rs star">
                    ★★★★★
                    <span>★★★★★</span>
                    <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
                  </span>
                  <span class="star-info reviews">

                  </span>
                </li>
                <li><span class="Rs star2">
                    ★★★★★
                    <span>★★★★★</span>
                    <input type="range" oninput="drawStar2(this)" value="1" step="1" min="0" max="10">
                  </span>
                  <span class="star-info reviews">

                  </span>
                </li>
                <li><span class="Rs star3">
                    ★★★★★
                    <span>★★★★★</span>
                    <input type="range" oninput="drawStar3(this)" value="1" step="1" min="0" max="10">
                  </span>
                  <span class="star-info reviews">

                  </span>
                </li>
                <li><span class="Rs star4">
                    ★★★★★
                    <span>★★★★★</span>
                    <input type="range" oninput="drawStar4(this)" value="1" step="1" min="0" max="10">
                  </span>
                  <span class="star-info reviews">
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- top movie -->
      <article class="movies">
        <h3>Top moives</h3>
        <ul>
          <li class="hover-filter"></li>
          <li class="movie">
            <img src="/static/image/SF0.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF0.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF1.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF1.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF2.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF2.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF3.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF3.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF4.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF4.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF5.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF5.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF6.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF6.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF7.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF7.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF8.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF8.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie">
            <img src="/static/image/SF9.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF9.mp4" autoplay muted loop></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie size-none">
            <img src="/static/image/SF10.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF10.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
          <li class="movie size-none">
            <img src="/static/image/SF11.jpg" alt="SF 이미지">
            <div class="hoverbox">
              <video class="top-video" src="/static/video/random_SF11.mp4" autoplay loop muted></video>
              <div class="tit">
                <span class="hover-title"></span>
                <span class="hover-age"></span>
                <span class="hover-runtime"></span>
                <i class="fas fa-chevron-down bnt_open"></i>
              </div>
              <p class="hover-story"></p>
            </div>
          </li>
        </ul>
      </article>
    </main>
  </section>

  <!--footer-->
  <%-include('footer.ejs') %>

  <script src="/static/js/sub_sf.js"></script>

</body>

</html>