@charset "utf-8";
/* common css */
*{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}
.top-nav{
  background: #000 !important;
}
.nav .nav-box li:first-of-type a{
  color: #35aef7 !important;
}