@charset "utf-8";
/* common css */
*{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}
/* 전체 레이아웃 */
.top-nav{
  background: #000 !important;
}
.user-icon{
  color: #35aef7 !important;
}
body{
  background: #000;
}
main{
  background-color: #000;
  width: 100%;
  height: 1600px;
  padding-bottom: 30px;
}
.body{
  width: 60%;
  margin: 0 auto;
}
.cont-head, .cont-body{
  color: #fff;
  width: 100%;
  margin: 0 auto;
}
.cont-body{
  display: none;
}
/* 사용자 이름 */
.cont-head h1{
  font-size: 4rem;
  font-weight: bolder;
  padding: 200px 0 50px 100px;
  line-height: 5rem;
}
.cont-head h1 strong{
  color: #35aef7;
}
/* 아이콘 색상 지정 */
i.xi-heart{
  color: #ff0000;
}
i.xi-star{
  color: rgb(255, 255, 0);
}
i.xi-time{
  color: #35aef7;
}
/* 사용자 최근 활동 */
.cont-body{
  margin-top: 100px;
}
.cont-body h2{
  font-size: 1.4rem;
  font-weight: 600;
  margin: 50px 0 30px 100px;
}
.cont-body .flex{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  line-height: 2rem;
  font-size: 0.8rem;
}
.flex strong{
  font-size: 1.1rem;
  font-weight: bolder;
}
.flex a{
  font-size: 1.2rem;
  color: #35aef7;
  font-weight: bolder;
}
/* 내가 찜한 영화 - slide */
.slide, .slide02{
  width: 100%;
  position: relative;
}
.swiper{
  width: 100%;
  overflow: hidden;
}
.swiper-wrapper{
  display: flex;
}
.slide .swiper-slide, .slide02 .swiper-slide{
  width: 150px !important;
  height: 200px !important;
  overflow: hidden;
}
.slide .swiper-slide img, .slide02 .swiper-slide img{
  height: 100%;
  object-fit: cover;
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
  html {
    font-size: 10px;
  }
}
 /* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
  #wrap {
    min-width: 320px;
  }
}