* {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  box-sizing: content-box;
}

/* 화면에서 보이지 않아도 되지만 콘텐츠상 있어야 하는 부분 */
.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

body {
  background-color: #000;
}

main {
  margin: 0 auto;
  overflow: hidden;
}

/* random */
.random {
  color: white;
  text-align: center;
  position: relative;
}

.random p {
  position: absolute;
  top: 230px;
  left: 9%;
  white-space: nowrap;
  text-align: left;
  font-size: 1rem;
  z-index: 101;
}

.random span {
  display: block;
  font-size: 4em;
  font-weight: 700;
}

.random button {
  font-size: 16px;
  font-weight: 800;
  width: 250px;
  height: 50px;
  background: linear-gradient(101.83deg, rgb(127, 135, 224) -13.2%, rgb(38, 73, 202) -13.19%, rgb(106, 118, 223) 46.63%, rgb(50, 176, 247) 107.09%);
  box-shadow: rgb(63 152 239 / 20%) 0px 12px 24px;
  border-radius: 48px;
  color: white;
  display: block;
  position: absolute;
  top: 350px;
  left: 8%;
  z-index: 101;
  background-size: 200% 50%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.random button:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 1px solid #fff;
}

/* 비디오 헤더쪽 어둡게 */
.random .video {
  position: relative;
}

.random .video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 8%, rgba(0, 0, 0, 0.2) 43%, rgba(0, 0, 0, 0.1) 78%, rgba(0, 0, 0, 0) 100%);
}

.random video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.random .description {
  position: absolute;
  bottom: 25%;
  left: 9%;
  text-align: left;
}

/* 랜덤 비디오 좌측아래 */
/* .random .description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 300px;
  background: rgba(0, 0, 0, .4);
} */

.random .ott {
  display: flex;
}

.random .ott .age-color,
.random .ott img {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.random img.none,
.random span.none {
  display: none;
}

.random .ott .age-color {
  width: 60px;
  line-height: 30px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.random .title {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 3em;
  margin: 10px 0;
}

.random .decs {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
}

.random .age-color {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
}

/* 카드 없애기 */
@media screen and (max-width:1550px) {
  .size-none {
    display: none;
  }
}

@media screen and (max-width:1288px) {
  .size-none {
    display: block;
  }
}

/* 테블릿 */
@media screen and (max-width:1024px) {
  .random {
    padding: 74px 0;
  }

  .random p {
    position: static;
    text-align: center;
  }

  .random span {
    display: block;
    font-size: 2.5em;
    font-weight: 700;
  }

  .random button {
    position: static;
    margin: 30px auto 20px;
    display: block;
    font-size: 1.2em;
    width: 200px;
    height: 40px;
  }

  h3{
    text-align: center;
  }

  .random video {
    width: 90%;
  }

  .random .video::before {
    opacity: 0;
  }

}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
  html {
    font-size: 10px;
  }

  .size-none {
    display: none;
  }
}

/* 모바일 */
@media screen and (max-width:640px) {
  .random video {
    width: 100%;
  }
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
  #wrap {
    min-width: 320px;
  }
}

/* top movie */
.movies {
  width: 90%;
  padding: 100px 5% 50px;
}

.movies h3 {
  font-size: 3em;
  color: #666;
}

.movies ul {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movies ul li.movie {
  width: 200px;
  height: 300px;
  margin: 0 15px 20px;
  position: relative;
}

.movies ul li.movie img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.movies ul li.movie .hoverbox {
  color: #fff;
  width: 250px;
  height: 400px;
  background: #111;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movies ul li.movie span {
  display: inline-block;
}

.movies ul li.movie video {
  width: 250px;
  z-index: 100;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}


.movies ul li.movie .tit {
  position: relative;
  overflow: hidden;
}

.movies ul li.movie .fa-chevron-down {
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 2em;
  cursor: pointer;
}

.movies ul li.movie .tit span:nth-child(1) {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}

.movies ul li.movie .tit .hover-age {
  display: block;
  width: 30px;
  padding: 2px;
  font-size: 1.4em;
  border-radius: 2px;
  float: left;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}

.movies ul li.movie .tit span:nth-child(3) {
  color: #888;
  font-size: 1rem;
  margin: 2px 15px;
}

.movies ul li.movie p {
  color: #fff;
  margin-top: 20px;
  text-overflow: ellipsis;
  line-height: 1.5em;
  width: 350px;
  max-height: 6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}


/* ------------------------modal */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  z-index: 10000;
  display: none;
}

.modal-bg .modal-box {
  position: absolute;
  position: fixed;
  top: 10%;
  left: 25%;
  background-color: #000;
  width: 800px;
  height: 740px;
  z-index: 10002;
  overflow-y: scroll;
  transition: all ease-in-out;
}

/*scroll bar customizing*/
.modal-box::-webkit-scrollbar {
  width: 9px;
  /* 스크롤바의 너비 */
}

.modal-box::-webkit-scrollbar-track {
  background: black;
  /*스크롤바 뒷 배경 색상*/
  border-radius: 10px;
}

.modal-box::-webkit-scrollbar-thumb {
  height: 20%;
  /* 스크롤바의 길이 */
  background: rgba(69, 68, 68, 0.719);
  /* 스크롤바의 색상 */

  border-radius: 10px;
}

.modal-exit {
  position: absolute;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  z-index: 10002;
}

/* 바디에 스크롤 막는 방법 */
.not_scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%
}

.not_scroll .cont {
  position: relative;
  top: 0;
}

/* modal close btn */
.modal-box .modal-close-btn {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  color: #fff;
  font-size: 2.4rem;
  top: 1%;
  right: 35px;
  z-index: 10002;
  cursor: pointer;
}

.modal-bg .modal-box .modal-close-btn img {
  width: 100%;
}

/* modal- img 및 제목*/
.modal-box .modal-cont .modal-img {
  width: 100%;
  height: 300px;
  position: relative;
}

.modal-box .modal-cont .modal-img video {
  object-fit: cover;
  width: 100%;
  height: 444px;
}

.modal-box .modal-cont .modal-img .modal-like-btn {
  position: absolute;
  top: 355px;
  right: 35px;
  font-size: 2.4rem;
  background: none;
  color: #ff0000;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.modal-box .modal-cont>h3 {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  transform: translate(30px, 65px);
}

/* modal- 영화 정보 */
.modal-box .modal-cont .cont-info {
  padding-top: 140px;
  width: 90%;
  margin: 0 auto;
  line-height: 1.2rem;
  font-size: 0.8rem;
  color: #fff;
}

.modal-box .modal-cont .cont-info strong {
  color: #ccc;
}

.modal-cont .cont-info p:first-of-type {
  width: 60%;
  float: left;
}

.modal-cont .cont-info p:last-of-type {
  width: 35%;
  float: right;
}

/* modal- 영화 시리즈 리스트 */
.modal-cont .cont-ex-list {
  width: 90%;
  clear: both;
  padding: 20px;
}

.modal-cont .cont-ex-title {
  font-size: 1.4rem;
  color: #fff;
  margin: 10px 0 20px 20px;
}

.modal-cont .cont-ex-list .cont-ex-flex {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-bottom: 40px;
  width: 100%;
  height: 100px;
  color: #fff;
}

.modal-cont .cont-ex-list .cont-ex-flex .flex-img {
  border-radius: 100%;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  overflow: hidden;
  color: #fff;
}

.cont-ex-list .cont-ex-flex li span {
  margin-left: 2%;
  font-size: 0.8rem;
}

.modal-cont .cont-ex-list .flex-img img {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.modal-cont .cont-ex-list .flex-img:hover {
  border: 1px solid #fff;
}

.cont-ex-list .flex-img img:hover {
  transform: scale(1.2);
}

/* 모달창 -> 리뷰 작성 페이지로 가는 btn */
.modal-to-review {
  width: 100%;
  margin: 0 auto;
}

.review-btn-box {
  width: 40%;
  margin: 0 auto;
}

.modal-cont .review-btn {
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  padding: 15px 40px;
  background-size: 200% 50%;
  border: 1px solid #000;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.modal-cont .review-btn i {
  font-size: 1rem;
  margin-right: 5px;
}

/* 리뷰 일부 미리보기 + 별점 */
.modal-to-review .review-part-view {
  width: 80%;
  margin: 0 auto;
  transform: translateY(80px);
  color: #fff;
  font-size: 0.8rem;
  padding-bottom: 50px;
}

.modal-to-review .review-part-view li {
  display: flex;
  margin-bottom: 20px;
}

.Rs {
  position: relative;
  font-size: 2rem;
  color: #ddd;
}

.Rs input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.Rs span {
  width: 0;
  position: absolute;
  left: 0;
  color: yellow;
  overflow: hidden;
  pointer-events: none;
}

/* 별점 기본값 설정 */
.star span {
  width: 100%;
}

.star2 span {
  width: 10%;
}

.star3 span {
  width: 80%;
}

.star4 span {
  width: 90%;
}

.modal-to-review .review-part-view li .star-info {
  width: 480px;
  margin-left: 15px;
  line-height: 2rem;
}

/* main - 랜덤 영화 슬라이드 */
.content-box .content-auto-slide {
  position: relative;
  padding-top: 140px;
  width: 100vw;
  height: 200px;
  padding-bottom: 140px;
  overflow-x: hidden;
}

.content-box .content-auto-slide h3 {
  transform: translate(300px, -20px);
  font-family: 'Montserrat';
  font-size: 1.2rem;
}

.content-box .content-auto-slide h3 strong {
  font-family: 'Montserrat';
  color: #7f6cf4;
}

.content-box .content-auto-slide .slide-frame {
  position: absolute;
  top: 155px;
  left: 300px;
  width: 300px;
  height: 200px;
  border: 4px solid #000;
}

.content-auto-slide .auto-slide {
  display: flex;
  width: 100vw;
  height: 200px;
}

.content-auto-slide .auto-slide li {
  width: 300px;
  height: 100%;
}

.content-auto-slide .auto-slide li img {
  object-fit: cover;
  height: 100%;
  transition: 0.3s;
}

/* 삽입 위치 조정 */
/* 메인콘텐츠 - 리뷰 작성 */
.content-box .content-review {
  width: 100%;
  margin: 0 auto;
  background-color: #fbfbfd;
  padding: 50px 0 100px 0;
}

.content-review h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 50px;
}

/* 리뷰 입력창 */
.content-review .review-input {
  width: 50%;
  margin: 0 auto;
}

.content-review .review-input input {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
  width: 90%;
  text-indent: 10px;
  font-size: 16px;
}

/* 리뷰 입력 btn */
.plus-btn {
  position: absolute;
  transform: translate(10px, 8px);
  border-radius: 100px;
  padding: 3px 3px;
  background: linear-gradient(101.83deg, rgb(127, 135, 224) -13.2%, rgb(38, 73, 202) -13.19%, rgb(106, 118, 223) 46.63%, rgb(50, 176, 247) 107.09%);
}

.review-input .plus-btn i {
  color: #fff;
  font-size: 1.8rem;
}

/* 리뷰 모두 삭제 btn */
.content-review .review {
  width: 60%;
  margin: 0 auto;
}

.content-review .review .clear-all-btn {
  background: none;
  font-size: 1rem;
  color: #0099ff;
  float: left;
  transform: translate(50px, 30px);
}

.content-review .review .clear-all-btn:hover {
  color: #ff0000;
}

/* 리뷰 입력 목록 : js */
.content-review .review .review-list {
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
}

.content-review .review .review-list li {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  text-indent: 10px;
  text-align: left;
  font-size: 0.9rem;
  background-color: #fff;
  border-radius: 10px;
  transform: translateX(-5px);
}

.review-list li .delBtn {
  font-size: 1rem;
  color: #ff0000;
}

.hover-filter {
  width: 80%;
  height: 80%;
  position: absolute;
}